@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

@mixin reset-charset {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin header {
    padding: 8px;
    background-color: $bg-red;
    color: #000000;
}

@mixin banner98 {
    display: block;
    width: 500px;
    margin: 12px auto auto auto;
    border-radius: 8px;
}

@font-face {
    font-family: 'Helvetica Bold Oblique';
    src: url('fonts/Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-mozilla: 'Mozilla Text', Arial, Verdana, sans-serif;
$font-win98: 'Helvetica Bold Oblique', Arial, sans-serif;
$bg-red: #d00000;
$bg-green: #00FF00;
$bg-blue: #0a0aca;
$bg-yellow: #FFFF00;
$bg-black: #000000;

* {
    @include reset-charset()
}

html, body {
    width: 100%;
    height: 100vh;
}

body {
    font-family: $font-mozilla;
    background-color: $bg-blue;
    color: #fff;
}

header {
    @include header()
}

.font-win98 {
    font-family: $font-win98;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-center {
    text-align: center;
}

#description {
    width: 52%;
    margin: auto;
}

#banner-win98 {
    @include banner98()
}

#desc-banner {
    margin-top: 10px;
    font-size: 1.09rem;
}

a {
    transition-duration: 300ms;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #f4f411;
}

@media screen and (min-width: 768px) {
    @mixin hover-win98 {
        transform: scale(1.1);
        box-shadow: 12px 7.5px 8px #00000089;
        cursor: pointer;
    }

    #banner-win98 {
        transition-duration: 300ms;
    }

    #banner-win98:hover {
        @include hover-win98()
    }
}

@media screen and (max-width: 500px) {
    @mixin mobile-banner {
        display: block;
        width: 300px;
        margin: 12px auto auto auto;
        border-radius: 8px;
    }

    #banner-win98 {
        @include mobile-banner()
    }

    #description {
        width: 87.5%;
        text-align: justify;
    }
}